<div class="md-inline-form">
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <!--<div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Company (Disabled)</label>
                        <input ng-model="user.company" disabled>
                    </md-input-container>
                    <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date">
                    </md-datepicker>
                </div>-->
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="profile.FirstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="profile.LastName">
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="profile.Email" />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Address</label>
                    <input ng-model="user.address">
                </md-input-container>
                <md-input-container class="md-block">
                    <input ng-model="user.address2" placeholder="Address 2">
                </md-input-container>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Ville</label>
                        <input ng-model="user.city">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Postal Code</label>
                        <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                               required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                        <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
                            <div ng-message="required" class="my-message">You must supply a postal code.</div>
                            <div ng-message="pattern" class="my-message">
                                That doesn't look like a valid postal
                                code.
                            </div>
                            <div ng-message="md-maxlength" class="my-message">
                                Don't use the long version silly...we don't need to be that specific...
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>