<!DOCTYPE html>
<html ng-app="myApp" ng-controller="rootController">
<head>
    <title>JS Application</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <style>
        .main-container {
            padding-top: 70px;
        }

        [ng-click] {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">JS Application</a>
            </div>
            <ul class="nav navbar-nav navbar-right" ng-if="!authentication.isAuth" ng-cloak>
                <li>
                    <a ui-sref="login">Login</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="authentication.isAuth" ng-cloak>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello {{authentication.userName}} ! <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>-->
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div ui-view></div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/oidc-token-manager/dist/oidc-token-manager.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script>
        var myApp = angular.module('myApp', [
            'ui.router',
            'LocalStorageModule'
        ]);
    </script>
    <script src="app/Config/appConfig.js"></script>
    <script src="app/Services/ServiceBase.js"></script>
    <script src="app/Services/AuthenticationService.js"></script>
    <script src="app/Config/appContext.js"></script>
    <script src="app/Controller/rootController.js"></script>
    <script src="app/Controller/homeController.js"></script>
    <script src="app/Controller/loginController.js"></script>
</body>
</html>