<!DOCTYPE html>
<html ng-app="myApp" ng-controller="rootController">
<head>
    <title>JS Application</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="Content/body.css" rel="stylesheet" />

    <style>
        .main-container {
            padding-top: 70px;
        }

        [ng-click] {
            cursor: pointer;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body layout="row" ng-cloak>
    <md-content flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <a ui-sref="home">My Application</a>
                </h2>
                <span flex></span>
                <md-menu-bar>
                    <md-menu md-position-mode="left bottom" ng-if="authInfo">
                        <md-button class="md-primary" ng-click="$mdOpenMenu()">
                            <div layout="row" layout-align="space-between center" class="ng-scope layout-align-space-between-center layout-row">
                                <span class="username hide-xs" hide-xs="">Hello {{authInfo.userName}} ! <span class="caret"></span></span>
                            </div>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ui-sref="profile">
                                    Profile
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="logout()">
                                    Logout
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
                <md-button type="button" ng-click="login()" ng-if="!authInfo">
                    Login
                </md-button>
                <!--<md-button class="md-raised" aria-label="Learn More">
                    Learn More
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>
        <div layout="row">
            <div flex="10"></div>
            <div flex ui-view></div>
            <div flex="10"></div>
        </div>
    </md-content>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/oidc-token-manager/dist/oidc-token-manager.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="scripts/angular-ui-router.js"></script>


    <!-- Angular Material Library -->
    <script src="bower_components/angular-material/angular-material.js"></script>

    <script>
        var myApp = angular.module('myApp', [
            'ui.router',
            'LocalStorageModule',
            'ngMaterial'
        ]);
    </script>
    <script src="app/Config/appConfig.js"></script>
    <script src="app/Services/ServiceBase.js"></script>
    <script src="app/Config/appContext.js"></script>

    <!-- Angular Controller -->
    <script src="app/Controller/rootController.js"></script>
    <script src="app/Controller/homeController.js"></script>
    <script src="app/Controller/registerController.js"></script>
    <script src="app/Controller/profileController.js"></script>
</body>
</html>