div.background{
    background: url(images/6.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}